* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
  background-image: url(../images/pattern.webp);
  display: block;
  margin: 67px 10px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  display: block;
  margin: 30px 10px;
}

img {
  margin: 30px 10px;
  display: block;
}

figcaption {
  font-weight: bold;
  display: block;
  margin: 30px 10px;
}

p {
  display: block;
  margin: 30px 10px;
}

.price {
  font-weight: bold;
  color: blue;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
